* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
}


.grid-item {
  background-color: lightsalmon;
  padding: 3rem;
}

.sub-item {
  background-color: rgb(253, 213, 197);
  padding: 1rem;
}

.grid-item h1 {
  margin-bottom: 1rem;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: subgrid;
  gap: 1rem;
}

.sub-item {
  background-color: rgb(253, 213, 197);
  padding: 1rem;
  text-align: center;
}

@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-container-2 {
    grid-template-columns: 1fr;
  }
}
